{{!-- Content preview --}}
<div class="post-sneak-peek{{#if fading}} fading{{/if}}">
  {{{html}}}
</div>

{{!-- Post Access CTA --}}
<div class="post-access-cta p-lg text-center {{visibility}}">
<<<<<<< HEAD
  <h3>{{t "Access Galaxy Member Content"}}</h3>
  {{#has visibility="members"}}
    <p class="text-acc-3">
    {{t "Sign up now to unlock extended content, receive innovation inspiration newsletter, and access community features."}}
  </p>
      <a class="btn btn--brand btn--rounded m-b" href="/#/portal/signup">{{t "Subscribe"}}</a>
  {{/has}}
  {{#has visibility="paid"}}
    <p class="text-acc-3">
      {{t "Upgrade now to access Constellation VIP content, community, and resources."}}
    </p>
      <a class="btn btn--brand btn--rounded m-b" href="javascript:void(0)" data-members-plan="Monthly">{{t "Subscribe"}}</a>
  {{/has}}

  <div class="small">{{t "Already have an account?"}} <a class="post-access-alt" href="/#/portal/signin">{{t "Sign in"}}</a></div>
</div>
=======
  <h3>{{t "Read the full story"}}</h3>
  {{#has visibility="members"}}
    <p class="text-acc-3">
    {{t "Sign up now to read the full story and get access to all members-only posts."}}
    </p>  
  {{/has}}
  {{#has visibility="paid"}}
    <p class="text-acc-3">
      {{t "Sign up now to read the full story and get access to all paid posts."}}
    </p>
  {{/has}}
  <a class="btn btn--brand btn--rounded m-b" href="/signup/"{{#if @custom.use_portal_links}} data-portal="signup"{{/if}}>{{t "Subscribe"}}</a>
  <div class="small">{{t "Already have an account?"}} <a class="post-access-alt" href="/signin/"{{#if @custom.use_portal_links}} data-portal="signin"{{/if}}>{{t "Sign in"}}</a></div>
</div>
>>>>>>> upstream/main
