<div class="welcome flex items-center m-b-lg{{#if cover-is-bg}} has-bg{{/if}}">
  {{#if @member.paid}}
    {{!-- Content for logged in Paid member --}}
<<<<<<< HEAD
    <a href="" class="welcome__profile flex flex-cc"
      title="{{#if @member.name}}{{@member.name}}{{else}}{{@member.email}}{{/if}}"
=======
    <a href="/account/" class="welcome__profile flex flex-cc"{{#if @custom.use_portal_links}} data-portal="account"{{/if}}
      title="{{#if @member.name}}{{@member.name}}{{else}}{{@member.email}}{{/if}}" 
>>>>>>> upstream/main
      aria-label="{{#if @member.name}}{{@member.name}}{{else}}{{@member.email}}{{/if}}">
      {{#if @member.avatar_image}}
        <img src="{{@member.avatar_image}}"/>
        <span class="name-letter">{{#if @member.name}}{{@member.name}}{{else}}{{@member.email}}{{/if}}</span>
      {{/if}}
    </a>
    <div class="welcome__content flex-1">
<<<<<<< HEAD
      <h1 class="welcome__title fw-600">{{t "Welcome back to your VIP Constellation hub"}}{{#if @member.name}}, {{@member.name}}{{/if}}!</h1>
      <div class="welcome__descr m-b">
        {{t "What are you creating today?"}}
      </div>
      <a href="#/portal/account/" class="btn btn--light btn--rounded btn--xs">{{t "Account"}}</a>
=======
      <h1 class="welcome__title fw-600">{{t "Welcome back"}}{{#if @member.name}}, {{@member.name}}{{/if}}!</h1>
      <div class="welcome__descr m-b">
        {{t "You're all set, but if you need any help, get in touch with us and we'd be happy to help."}}
      </div>
      <a href="/account/" class="btn btn--light btn--rounded btn--xs"{{#if @custom.use_portal_links}} data-portal="account"{{/if}}>{{t "Account"}}</a>
>>>>>>> upstream/main
    </div>

    {{!-- Content for not logged in Regular users --}}
    {{#if cover-is-bg}}
      {{#if @site.cover_image}}
        <figure class="welcome__media">
<<<<<<< HEAD
          <img class="lazyload{{#if cover-is-bg}} is-bg{{/if}}"
=======
          <img class="lazyload{{#if cover-is-bg}} is-bg{{/if}}" 
>>>>>>> upstream/main
              data-srcset="{{img_url @site.cover_image size="xs"}} 100w,
                      {{img_url @site.cover_image size="s"}} 300w,
                      {{img_url @site.cover_image size="m"}} 600w,
                      {{img_url @site.cover_image size="l"}} 1000w"
              srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-sizes="auto"
              data-src="{{img_url @site.cover_image size="s"}}"
              src="{{img_url @site.cover_image size="xxs"}}"
              alt="{{t "Join the community!"}}"/>
        </figure>
      {{/if}}
    {{/if}}

  {{else if @member}}
    {{!-- Content for logeed in Free member --}}
<<<<<<< HEAD
    <a href="" class="welcome__profile flex flex-cc"
      title="{{#if @member.name}}{{@member.name}}{{else}}{{@member.email}}{{/if}}"
=======
    <a href="/account/" class="welcome__profile flex flex-cc"{{#if @custom.use_portal_links}} data-portal="account"{{/if}}
      title="{{#if @member.name}}{{@member.name}}{{else}}{{@member.email}}{{/if}}" 
>>>>>>> upstream/main
      aria-label="{{#if @member.name}}{{@member.name}}{{else}}{{@member.email}}{{/if}}">
      {{#if @member.avatar_image}}
        <img src="{{@member.avatar_image}}" alt="{{#if @member.name}}{{@member.name}}{{else}}{{@member.email}}{{/if}}"/>
        <span class="name-letter">{{#if @member.name}}{{@member.name}}{{else}}{{@member.email}}{{/if}}</span>
      {{/if}}
    </a>
    <div class="welcome__content flex-1">
<<<<<<< HEAD
      <h1 class="welcome__title fw-600">{{t "Welcome back to your Galaxy Member hub"}}{{#if @member.name}}, {{@member.name}}{{/if}}!</h1>
      <div class="welcome__descr m-b">
        {{t "What are you creating today?"}}
      </div>
      <a href="javascript:void(0)" data-members-plan="Monthly" class="btn btn--light btn--rounded btn--xs">{{t "Go VIP"}}</a>
=======
      <h1 class="welcome__title fw-600">{{t "Welcome back"}}{{#if @member.name}}, {{@member.name}}{{/if}}!</h1>
      <div class="welcome__descr m-b">
        {{t "Unlock full access to see the entire library by subscribing to a paid plan."}}
      </div>
      <a href="/account/" class="btn btn--light btn--rounded btn--xs"{{#if @custom.use_portal_links}} data-portal="account"{{/if}}>{{t "Upgrade"}}</a>
>>>>>>> upstream/main
    </div>

    {{!-- Content for not logged in Regular users --}}
    {{#if cover-is-bg}}
      {{#if @site.cover_image}}
        <figure class="welcome__media">
<<<<<<< HEAD
          <img class="lazyload{{#if cover-is-bg}} is-bg{{/if}}"
=======
          <img class="lazyload{{#if cover-is-bg}} is-bg{{/if}}" 
>>>>>>> upstream/main
              data-srcset="{{img_url @site.cover_image size="xs"}} 100w,
                      {{img_url @site.cover_image size="s"}} 300w,
                      {{img_url @site.cover_image size="m"}} 600w,
                      {{img_url @site.cover_image size="l"}} 1000w"
              srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-sizes="auto"
              data-src="{{img_url @site.cover_image size="s"}}"
              src="{{img_url @site.cover_image size="xxs"}}"
<<<<<<< HEAD
              alt="{{t "Join the INNOcircle!"}}"/>
=======
              alt="{{t "Join the community!"}}"/>
>>>>>>> upstream/main
        </figure>
      {{/if}}
    {{/if}}

<<<<<<< HEAD
  {{else}}
=======
  {{else}} 
>>>>>>> upstream/main
    {{!-- Content for not logged in Regular users --}}
    {{#if cover-is-bg}}
      {{#if @site.cover_image}}
        <figure class="welcome__media">
<<<<<<< HEAD
          <img class="lazyload{{#if cover-is-bg}} is-bg{{/if}}"
=======
          <img class="lazyload{{#if cover-is-bg}} is-bg{{/if}}" 
>>>>>>> upstream/main
              data-srcset="{{img_url @site.cover_image size="xs"}} 100w,
                      {{img_url @site.cover_image size="s"}} 300w,
                      {{img_url @site.cover_image size="m"}} 600w,
                      {{img_url @site.cover_image size="l"}} 1000w"
              srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-sizes="auto"
              data-src="{{img_url @site.cover_image size="s"}}"
              src="{{img_url @site.cover_image size="xxs"}}"
<<<<<<< HEAD
              alt="{{t "Join the INNOcircle!"}}"/>
=======
              alt="{{t "Join the community!"}}"/>
>>>>>>> upstream/main
        </figure>
      {{/if}}
    {{else}}
      <figure class="welcome__profile">
<<<<<<< HEAD
        <img class="lazyload"
=======
        <img class="lazyload" 
>>>>>>> upstream/main
            data-srcset="{{img_url @site.cover_image size="xs"}} 100w,
                    {{img_url @site.cover_image size="s"}} 300w"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-sizes="auto"
            data-src="{{img_url @site.cover_image size="s"}}"
            src="{{img_url @site.cover_image size="xxs"}}"
<<<<<<< HEAD
            alt="{{t "Join the INNOcircle!"}}"/>
=======
            alt="{{t "Join the community!"}}"/>
>>>>>>> upstream/main
      </figure>
    {{/if}}

    {{!-- The main content --}}
    <div class="welcome__content flex-1">
<<<<<<< HEAD
      <h1 class="welcome__title fw-600">{{t "Welcome to Everyday Innovation"}}</h1>
      <div class="welcome__descr">
        {{!-- You can add your own text here --}}
        {{@site.description}}
        <br/>
      <br/>
        {{t "Subscribe to receive innovation inspiration newsletters, unlock Galaxy Member extended content and resources, and access community features."}}
      </div>
      <a href="/#/portal/signup/" class="btn btn--light btn--rounded btn--xs">{{t "Subscribe"}}</a>
    </div>

    {{!-- Site stats --}}
    {{#if show_stats}}
      <div class="welcome__figures">
        {{#get "posts" limit="1" filter="visibility:public"}}
          <div class="welcome__stat">
            <span class="welcome__count">{{pagination.total}}</span>
=======
      <h1 class="welcome__title fw-600">{{#if @custom.hero_headline}}{{@custom.hero_headline}}{{else}}{{t "Join the community!"}}{{/if}}</h1>
      <div class="welcome__descr">
        {{#if @custom.hero_description}}{{@custom.hero_description}}{{else}}{{@site.description}}{{/if}}
      </div>
      <a href="{{#if @custom.hero_cta_link}}{{@custom.hero_cta_link}}{{else}}/membership/{{/if}}" class="btn btn--light btn--rounded btn--xs">{{#if @custom.hero_cta_text}}{{@custom.hero_cta_text}}{{else}}{{t "Learn more"}}{{/if}}</a>
    </div>
    
    {{!-- Site stats --}}
    {{#if @custom.hero_stats}}
      <div class="welcome__figures">
        {{!-- {{#get "posts" limit="1" filter="visibility:public"}}
          <div class="welcome__stat">
            <span class="welcome__count">{{pagination.total}}</span> 
>>>>>>> upstream/main
            <span class="welcome__count-descr">{{t "Public posts"}}</span>
          </div>
        {{/get}}

        {{#get "posts" limit="1" filter="visibility:members"}}
          <div class="welcome__stat">
<<<<<<< HEAD
            <span class="welcome__count">{{pagination.total}}</span>
            <span class="welcome__count-descr">{{t "Galaxy Members posts"}}</span>
          </div>
        {{/get}}

        {{#get "posts" limit="1" filter="visibility:paid"}}
          <div class="welcome__stat">
            <span class="welcome__count">{{pagination.total}}</span>
            <span class="welcome__count-descr">{{t "Constellation VIP posts"}}</span>
          </div>
        {{/get}}

        {{#get "posts" limit="1"}}
          <div class="welcome__stat">
            <span class="welcome__count">{{pagination.total}}</span>
            <span class="welcome__count-descr">{{t "Total posts"}}</span>
          </div>
        {{/get}}
      </div>
    {{/if}}
  {{/if}}
</div>
=======
            <span class="welcome__count">{{pagination.total}}</span> 
            <span class="welcome__count-descr">{{t "Members posts"}}</span>
          </div>
        {{/get}} --}}

        {{#get "posts" limit="1" filter="visibility:paid"}}
          {{#if pagination.total}}
            <div class="welcome__stat">
              <span class="welcome__count">{{pagination.total}}</span> 
              <span class="welcome__count-descr">{{t "Premium posts"}}</span>
            </div>
          {{/if}}
        {{/get}}

        {{#get "posts" limit="1"}}
          {{#if pagination.total}}
            <div class="welcome__stat">
              <span class="welcome__count">{{pagination.total}}</span> 
              <span class="welcome__count-descr">{{t "Total posts"}}</span>
            </div>
          {{/if}}
        {{/get}}

        <div class="welcome__stat">
          <span class="welcome__count">{{total_paid_members}}</span> 
          <span class="welcome__count-descr">{{t "Premium members"}}</span>
        </div>

        <div class="welcome__stat">
          <span class="welcome__count">{{total_members}}</span> 
          <span class="welcome__count-descr">{{t "Total members"}}</span>
        </div>
      </div>
    {{/if}}
  {{/if}}
</div>
>>>>>>> upstream/main
