<div class="checkout-plan card h-100">
  <header class="checkout-plan__hdr m-b flex flex-col flex-cc text-acc-1 p-b border-bottom-1">
    <h3 class="checkout-plan__title m-b-xs">{{t "INNOcircle"}}</h3>
    <div class="checkout-plan__price">
      <sup>{{#get "tiers" currency}}{{/get}}</sup><strong>{{price 0}}</strong>
    </div>
    <a class="btn btn--brand btn--sm btn--rounded" href="/signup/">
      {{t "Subscribe now"}}
    </a>
  </header>
  <div class="checkout-plan__content text-acc-3">
    <ul class="list--unstyled m-b-0">
      <li>{{t "Unlock exclusive INNOcircle content, resources, & community features"}}</li>
      <li>{{t "Receive INNOspiration - a curated innovation newsletter- and select highlighted posts"}}</li>
      <li>{{t "Save bookmarks of your favorite posts"}}</li>
  </div>
</div>
